<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="s" class="com.collage.Student">
	
	<constructor-arg value="2"/>
	<constructor-arg value="Ravi"/>
	<constructor-arg value="500"/>
	
	</bean>


	<bean id="c" class="com.collage.Collage">
	<property name="collage_name" value="NSUT"></property>
	<property name="student" ref="s"></property>
	<property name="collage_address" value="Banglore"></property>
	
	</bean>

</beans>